//
// helper.scss
//

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.float-end {
  float: left !important;
}
.float-start {
  float: right !important;
}
dd {
  margin-right: 0 !important;
}
